<% if(page.content){ %>
  <%- page.content %>
<% } else { %>

  <div class="container">
    <ul class="breadcrumb">
      <li class="active">Home</li>
    </ul>
  <div id="main">
  <p><h4>Auspatious is a spatial services company that takes great pride in delivering user-centric and technically excellent solutions.</h4></p>
  <p></p>
  <h1>Map production</h1>
  <img src="../images/map_production.jpg" class="front-image" alt="Map production in print and digital.">
  <h1>Web Mapping</h1>
  <img src="../images/web_mapping.jpg" class="front-image" alt="Custom web-mapping, including system administration and user interface development.">
  <h1>GIS Development</h1>
  <img src="../images/gis_development.jpg" class="front-image" alt="Programming and problem solving in the spatial realm.">
  <h1>Spatial Strategy</h1>
  <img src="../images/spatial_strategy.jpg" class="front-image" alt="Spatial systems strategy, including people, processes, data and software.">
  <h1>Open Source Software and Training</h1>
  <img src="../images/qgis_training.jpg" class="front-image" alt="Training and support for open source software.">
  <br>
  <br>
  </div>
  </div>
<% } %>

